@import "./color_schemes/dark";
$sidebar-color: #083357;
$feedback-color:#083357;
$body-heading-color: #fcc200; //#fcc200  #ff6100
$link-color: #009dff;
$body-text-color: #fdfcfa;
$nav-child-link-color: #91aebf;

